services:
  transporter:
      class: EC\EuropaWS\Transporters\DummyTransporter
  # WebContent Indexing service.
  transporter.indexing:
     class: EC\EuropaSearch\Transporters\IndexingTransporter
  messageProxy.indexing.webContent:
      class: EC\EuropaSearch\Proxies\Index\WebContentConverter
  componentProxy.metadata.boolean:
      class: EC\EuropaSearch\Proxies\Index\DocumentMetadata\BooleanMetadataConverter
  componentProxy.metadata.date:
      class: EC\EuropaSearch\Proxies\Index\DocumentMetadata\DateMetadataConverter
  componentProxy.metadata.numeric:
      class: EC\EuropaSearch\Proxies\Index\DocumentMetadata\DefaultMetadataConverter
  componentProxy.metadata.notIndexed:
      class: EC\EuropaSearch\Proxies\Index\DocumentMetadata\DefaultMetadataConverter
  componentProxy.metadata.string:
      class: EC\EuropaSearch\Proxies\Index\DocumentMetadata\DefaultMetadataConverter
  proxyController:
      class:  EC\EuropaWS\Proxies\BasicProxyController
      calls:
          - [setContainer, ['@service_container']]
  client.indexing.webDocument:
    class: EC\EuropaWS\Clients\DefaultClient
    arguments: ['@validator.default', '@proxyController', '@transporter.indexing']

  # Search Service
  transporter.searching:
     class: EC\EuropaSearch\Transporters\SearchTransporter
  messageProxy.searching.search:
        class: EC\EuropaSearch\Proxies\Search\SearchConverter
  componentProxy.searching.filters.clauses.fieldExists:
      class: EC\EuropaSearch\Proxies\Search\Filters\Clauses\FieldExistsClauseConverter
  componentProxy.searching.filters.clauses.range:
      class: EC\EuropaSearch\Proxies\Search\Filters\Clauses\RangeClauseConverter
  componentProxy.searching.filters.clauses.term:
      class: EC\EuropaSearch\Proxies\Search\Filters\Clauses\TermClauseConverter
  componentProxy.searching.filters.clauses.terms:
      class: EC\EuropaSearch\Proxies\Search\Filters\Clauses\TermsClauseConverter
  componentProxy.searching.filters.queries.aggregate:
      class: EC\EuropaSearch\Proxies\Search\Filters\Queries\FilterQueryComponentConverter
  componentProxy.searching.filters.queries.booleanQuery:
      class: EC\EuropaSearch\Proxies\Search\Filters\Queries\BooleanQueryConverter
  componentProxy.searching.filters.queries.boostingQuery:
      class: EC\EuropaSearch\Proxies\Search\Filters\Queries\BoostingQueryConverter
  proxyController.search:
      class:  EC\EuropaSearch\Proxies\Search\SearchProxyController
      calls:
          - [setContainer, ['@service_container']]
  client.searching.search:
    class: EC\EuropaWS\Clients\DefaultClient
    arguments: ['@validator.default', '@proxyController.search', '@transporter.searching']